

@font-face { font-family: "Speedbeast" ;  
    src: url('../assets/fonts/speedbeast/SpeedBeast.ttf') format('truetype'); 
} 

@font-face{
    font-family:"Draconomicon" ;
    src: url('../assets/fonts/draconomicon.TTF') format('truetype');
}

:root{
    --brown: #812b0f;
    --creme: #ffe4ad;
}

html {
    font-size: 10px;
    font-family: "Open Sans", sans-serif;
    }  

body{
    margin:0;
    background-color: var(--creme);
}

.container{
    padding: 0 10%;
}

h1 {
    font-size: 4rem;
    text-align: center;
    font-family: "Speedbeast";
    color: var(--brown);
    }

h2{
    font-size: 3rem;
}

p{
    font-size: 2rem;
    line-height: 2;
    letter-spacing: 1px;
    }

.nav-bar{
    display: flex;
    justify-content: space-around;
    padding: 3% 10%;
}

.nav-item{
    font-family: "Speedbeast";
    font-size: 3rem;
}

.double-columns{
    display: flex;
    align-items: center;
}

.column{
    width: 50%;
    padding: 2% 5%;
}

.column img{
    width: 100%;
}